#PersonalBackground {
  color: blue;
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: double;
}

#WorkandDevelopmentExperience {
  color: blue;
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#ProgrammingLanguages {
  color: blue;
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

#Achievements {
  color: blue;
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

#FavoriteGames {
  color: blue;
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}